<textarea id="ime"></textarea>
<div id="debug"></div>
<script src="/ime.js"></script>
<script type="text/javascript">
  $(function(){
    $('#ime').inputMethodEditor({
      debug : true,
      debugTarget : '#debug'
    });
  });
</script>