<header>
  <h1>The Scratch Writing System</h1>
</header>

<article>
  <div class="canvas-text-wrapper" tabindex="0">
    <canvas id="scratch-text" width="800" height="200"></canvas>
    <textarea id="hidden-box" tabindex="-1"></textarea>
  </div>
</article>