<header>The Scratch Writing System<header>

<textarea id="ime"></textarea>
<div id="debug"></div>

<script type="text/javascript">
  $(function(){
    $('#ime').inputMethodEditor({
      debug : true,
      debugTarget : '#debug'
    });
  });
</script>