/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  font-size: 100%;
  display: block;
  height: 100%;
  background-color: #dafffc;;
}
body {
  display: block;
  padding-top: 1px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  margin: 0;
  padding: 0;
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
}

body > header {
  display: block;
  height: 90px;
  text-align: center;
}
body > header h1 {
  display: block;
  font-size: 3rem;
  line-height: 90px;
  margin: 0;
  font-family: Amadeus;
}


.canvas-text-wrapper {
  display: block;
  background-color: #eee;
  overflow: hidden;
  margin: 0 20px;
  height: 200px;
}
.canvas-text-wrapper canvas {
  display: block;
  outline: none;
  color: #000;  background-color: #fff;
}
.canvas-text-wrapper textarea {
  position: absolute;
  height: 0;
  width: 0;
  outline: none;
  border: none;
  top: -10px;
  left: -10px;
}
#debug {
  overflow: auto;
  height: 200px;
  width: 400px;
  font-family: "Courier New", serif;
  border: 1px solid black;
  font-size: .9rem;
  margin: 10px auto 0px auto;
}